body {
  background-color: white;
  font-family: Arial, Helvetica, sans-serif;
}

textarea {
    font-family: noto,notojp,notokr,Helvetica,Microsoft YaHei,Apple SD Gothic Neo,Malgun Gothic,맑은 고딕,Dotum,돋움,sans-serif;
}

/* Style the header */
.header {
  padding: 10px 16px;
  background: #FFF;
  color: #000;
  border-bottom: 1px solid #c7c7c7;
  display: block;
  font-size: 1.5em;
  margin-top: 0.83em;
  margin-bottom: 0.83em;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
}

.h2 {
  display: inline;
  color: #000;
}

/* Page content */
.content {
  padding: 16px;
}

/* The sticky class is added to the header with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

/* Add some top padding to the page content to prevent sudden quick movement (as the header gets a new position at the top of the page (position:fixed and top:0) */
.sticky + .content {
  padding-top: 102px;
}

a {
  text-decoration: none; /* no underline */
  color: black;
}

.menu-item {
  color: #000;
  display: inline-block;
  font-size: 18px;
  position: relative;
  text-decoration: none;
  padding-left: 25px;
  margin-bottom: 10px;
  font-weight: bold;
}

.main-title {
    text-decoration: none;
    position: relative;
    display: block;
    font-size: 30px;
    color: black;
    text-align: center;
    margin: 30px;
}

.kist-container {
    font-size: 18px;
    background: white;
    max-width: 600px;
    margin: 0 auto;
    display: block;
    text-align: center;
}

.kist-container .bust {
    text-align: center;
    margin: 50px 0;
}

.kist-container .bust img {
    width: 300px;
    max-width: 60%;
    border: 3px solid #fff;
    border-radius: 50%;
}



.kist-container .create-form {
    text-align: center;
}

.kist-container .text-input {
    font-size: 18px;
    padding: 32px 24px;
    line-height: 24px;
    height: 400px;
    overflow: auto;
    width: 650px;
    max-width: 95%;
    box-sizing: border-box;
    border: 1px solid lightgray;
    background: white;
    color: black;
    border-radius: 20px;
}

.kist-container .text-input[type=text]:focus{
  outline: 1px solid #FF3407;
}

#buttonload {
  display: none;
}

.dummy-filled {
    font-size: 18px;
    padding: 15px 15px;
    line-height: 20px;
    height: 400px;
    overflow: auto;
    width: 450px;
    max-width: 95%;
    box-sizing: border-box;
    border: 3px solid transparent;
    background: #F1F2F4;
    color: black;
    border-radius: 30px;
    display: flex;
}

.kist-container button {
    display: inline-block;
    padding: 20px 50px;
    border-radius: 40px;
    margin: 10px;
    background: #FF3407;
    color: white;
    font-size: 20px;
    cursor: pointer;
    border: none;
}

input[type="file"] {
    display: none;
}

.custom-file-upload {
    display: inline-block;
    padding: 20px 30px;
    border-radius: 40px;
    margin: 10px;
    background: white;
    color: black;
    font-size: 20px;
    cursor: pointer;
    border: none;
    border: 2px lighter #FF3407;
}

#intro-message {
    font-size: 24px;
    margin-bottom: 40px;
    text-align: center;
    color: black;
}

.kist-container .actions {
    margin-top: 15px;
    margin-bottom: 40px;
    color: black;
}

.kist-container .action {
    display: inline-block;
    padding: 0 10px;
    cursor: pointer;
}

.kist-container .message {
    background: white;
    color: #BBBBBB;
    padding: 15px;
    margin-top: 10px;
    border-radius: 15px;
    border: 1px solid lightgray;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  opacity: 1; /* Firefox */
  color: #9D9D9D;
  font-weight: 700;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: #999999;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: #999999;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
}